$font-family: 'Arial, sans-serif';
$people-padding-top: 30px;
$people-gap: 40px 30px;
$photo-size: 200px;
$photo-border-radius: 50%;
$default-transition: 1s ease;
$rank-border-radius: 50%;
$rank-color: #8B0000;
$rank-font-size: 16px;
$rank-size: 32px;
$extra-font-size: 18px;
$name-font-size: 20px;
$name-color: #2F4F4F;
$person-hover-background-color: #EEE;
$person-hover-border-radius: 12px;
$photo-border-radius-hover: 60px;
